body
{
    font-family: 'Open Sans', sans-serif;
    background: url("../img/fond_ecran.jpg") fixed;
}

h1
{
    text-align: center;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header
{
    background-color: orange;
}

main
{
    flex-grow: 1;
}


footer
{
    background-color: orange;
}