{% extends "base.html.twig" %}

{% block title %}Détail de l'article{% endblock %}

{% block content %}

    <h1>{{ article.name }}</h1>
    <p>créé le {{ article.dateCreated|date("d-m-Y H:i:s") }} par {{ article.user.username }}</p>

    <div>
        <h2>Description:</h2>
        <p>{{ article.description }}</p>
    </div>

{% endblock %}